page-search {
	.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
	    color: #002c3d;
	}
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner {
	    border-bottom: 0.55px solid #d2d2d2;
	}
	.list-ios .user_list:last-child .item-block .item-inner, .list-md .user_list:last-child .item-block .item-inner {
	    border-bottom: 0px;
	}
	.list-ios .item-block, .list-ios .item-wrapper .item-block, .list-md .item-block, .list-md .item-wrapper .item-block {
	    border-bottom: 0px solid #d2d2d2;
	}
	.user_list .item-md.item-block .item-inner, .user_list .item-ios.item-block .item-inner {
	    padding-right: 8px;
	}
}
